name: masnoti

on:
  # プッシュもしくはプルリクエストでワークフローを起動する
  # ただしmasterブランチに対してのみ
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

env:
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

jobs:
  masnoti:
    runs-on: ubuntu-latest
    steps:
    - name: Send notification to Slack 
      uses: GoldenspearLLC/slack-chat-postmessage@v3
      with:
        channel: '#memo'
        text: "GITHUB::${{ github.event_name }} -- https://github.com/example/repo#${{ github.head_ref }}"
