name: Post Slack

on: push

jobs:
  slack:
    runs-on: ubuntu-latest
    steps:
      - name: Post to Slack
        uses: opspresso/action-slack@master
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          JSON_PATH: ./target/slack_message.json
